* {
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b19;
}

.calc {
    width: 785px;
    height: 1385px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 17px 1px #000000;
    background: linear-gradient(#bcbdac, #90917c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display {
    width: 626px;
    height: 300px;
    border-top: 15px inset #9e9e92;
    border-bottom: 15px inset #9e9e92;
    border-left: 15px inset #e7e5e0;
    border-right: 15px inset #78786c;
    margin-bottom: 90px;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-around;
}

input {
    border-radius: 8px;
    border: none;
    background-color: #2b2b2b;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.operation {
    font-size: 40px;
    color: white;
}

.result {
    font-size: 70px;
    color: orange;
    text-align: end;
}



.keypad {
    border-top: 15px inset #9e9e92;
    border-bottom: 15px inset #9e9e92;
    border-left: 15px inset #e7e5e0;
    border-right: 15px inset #78786c;
    background-color: black;
    width: 626px;
    height: 782px;

}

button {
    height: 150px;
    font-size: 40px;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.btnC,
.btnCR {
    width: 295px;
    color: #fefef3;
    background-image: url(../img/naranja2.jpg);
}

.btn9,
.btn8,
.btn7,
.btn6,
.btn5,
.btn4,
.btn3,
.btn2,
.btn1,
.btn0 {
    width: 145px;
    color: #fefef3;
    background-image: url(../img/gris.jpg);
}

.btnMultiplication,
.btnDivision,
.btnSum,
.btnSubtraction {
    width: 145px;
    color: #fefef3;
    background-image: url(../img/naranja.jpg);
}


.btnEqual {
    width: 295px;
    color: #3e4039;
    background-image: url(../img/blanco2.jpg);
}

button:hover {
    filter: brightness(80%);
}

button:active {
    filter: brightness(50%);
}